<div class="container text-center">
    <img src="~/images/contactos.jpg" alt="Fale connosco" width="100%"/>
    <div class="jumbotron">
        <br />
        <h3>Queremos ouvir o que tem a dizer</h3>
        <p>
            Se tiver alguma dúvida ou sugestão fale connosco
        </p>
        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" />
            </span>
            <h5><email endereco="lanchesmac@outlook.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/images/phone-app-icon.png" />
            </span>
            <h5>(+351) 253 456 765</h5>
            <br />
            <span>
                <img src="~/images/Home-iconred.png" />
            </span>
            <h5>Rua Zé Laustibia, Nº45 - 4715-678 - Braga, Portugal</h5>
        </p>
    </div>
</div>
<br />