<div class="container">
    <div class="jumbotron">
        <p>
            <h2><img src="~/images/AcessoNegado.png" alt="Área de Administração" class="marginTop1" width="10%" />Acesso não autorizado</h2>
        </p>
    </div>
    <button class="btn btn-primary">
        <a asp-area="" asp-controller="Home" asp-action="Index" style="color:white; text-decoration:none">Voltar à página inicial</a>
    </button>
</div>
<br />
