<div class="container">
    <div class="jumbotron">
        <p>
            <h2><img src="~/images/admin.png" alt="Área de Administração" class="marginTop1" width="10%"/>Área do Administrador</h2>
        </p>
    </div>
    <br />
    <button class="btn btn-primary">
    <a asp-area="" asp-controller="Home" asp-action="Index" style="color:white; text-decoration:none">Voltar à página inicial</a>
    </button>
</div>
<br />